alembic==1.6.3
amqp==5.0.6
anyjson==0.3.3
Babel==2.9.1
billiard==3.6.4.0
boto3==1.17.78
botocore==1.20.78
celery==5.1.0
cffi==1.14.5
click==8.0.1
colorama==0.4.4
cryptography==3.4.7
defusedxml==0.7.1
docutils==0.17.1
Flask==2.0.1
Flask-AppBuilder==3.3.0
Flask-Babel==2.0.0
Flask-Cache==0.13.1
Flask-Login==0.5.0
Flask-Migrate==3.0.0
Flask-OpenID==1.2.5
Flask-Script==2.0.6
Flask-SQLAlchemy==2.5.1
Flask-Testing==0.8.1
Flask-WTF==0.14.3
future==0.18.2
gunicorn==20.1.0
humanize==3.5.0
idna==3.1
itsdangerous==2.0.1
Jinja2==3.0.1
jmespath==0.10.0
kombu==5.1.0
Mako==1.1.4
Markdown==3.3.4
MarkupSafe==2.0.1
numpy==1.20.3
pandas==1.2.4
parsedatetime==2.6
ply==3.11
psycopg2==2.8.6
pyasn1==0.4.8
pycparser==2.20
pydruid==0.6.2
PyHive==0.6.4
python-dateutil==2.8.1
python-editor==1.0.4
python3-openid==3.2.0
pytz==2021.1
requests==2.25.1
s3transfer==0.4.2
sasl==0.2.1
simplejson==3.17.2
six==1.16.0
SQLAlchemy==1.4.15
SQLAlchemy-Utils==0.37.4
sqlparse==0.4.1
superset==0.30.1
thrift==0.13.0
thrift-sasl==0.4.2
thriftpy==0.3.9
Werkzeug==2.0.1
WTForms==2.3.3
